*{
    color: white;
    font-family: sans-serif;
    transition: 0.2s ease-in-out;
    user-select: none;
}

.align{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-image: url('https://images.pexels.com/photos/1303085/pexels-photo-1303085.jpeg?cs=srgb&dl=pexels-george-dolgikh-551816-1303085.jpg&fm=jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.turn-container{
    width: 250px;
    height: 80px;
    margin: 0 0 20px 0;
    display: grid;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 1fr;
    position: relative;
}

.turn-container .player-name{
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: underline;
    cursor: text;
    user-select: text;
}

.turn-container .vs{
    font-size: 1.6rem;
    font-weight: 700;
}

.bg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 40px;
    background-color: #FF2E63;
    z-index: -1;
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 400px;
    width: 400px;
    margin: 0;
    border: 2px solid white;
}

.box{
    cursor: pointer;
    font-size: 3.5rem;
    font-weight: 700;
    border: 2px solid white;
}

.box:hover{
    background-color: rgba(255, 46, 99, 0.7);
}

#results{
    margin: 20px 0;
}

#play-again{
    background-color: #FF2E63;
    padding: 10px 25px;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#play-again:hover{
    padding: 10px 40px;
    background-color: #08D9D6;
    color: #000;
}